.gridContainerHomePage {
  background-image: url("../../public/imgs/homePageCar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 25rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.border {
  margin: 0.1rem;
  margin-bottom: 1rem;
  /* border: 1px solid #000; */
}
