.cardGridItem {
  display: flex;
  margin-bottom: 1em !important;
  flex-direction: column;
  /*  margin-left: auto !important; */
}

.sideGridItem {
  margin-bottom: 0.8em !important;
}

.ourCarsSideGridItem {
  display: flex;
  flex-direction: column !important;
}
.ourCarsSideGridContainer {
  max-width: 10em;
}

@media (max-width: 600px) {
  .ourCarsSideGridItem {
    display: none !important;
  }

  .ourCarsSideGridContainer {
    display: none;
  }
}
