@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
.gridContainerHomePage {
  background-image: url("../public/imgs/homePageCar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.mainHeader {
  margin-top: 0.3em !important;
  padding: 0em 0 0.2em 0 !important;
  font-family: belanosima !important;
  font-size: 3.5em !important;
}

.mainButton {
  font-family: belanosima !important;
  font-size: 1em;
}

.homepageHeaderBox {
  background-color: rgba(255, 255, 255, 0.39);
}

.datePicker {
  background-color: rgba(255, 255, 255, 0.811);
}

.datePickerDark {
  background-color: rgba(56, 56, 56, 0.811);
}

.homepageSignUpLink {
  display: inline-block;
  padding: 0 0.4em 0 0.4em;
  background-color: rgba(255, 255, 255, 0.811);
  box-shadow: -2px -2px 5px 6px rgba(255, 255, 255, 0.811);
}

.navBar {
  margin-bottom: 1.5em;
}

.navLink {
  margin: 0 0.2em 0 0.2em;
  font-family: belanosima !important;
  font-size: 1.1em !important;
  text-decoration: none;
}

.logoImgDark {
  margin-right: 1em;
  margin-left: -1em;
  width: 7em;
}

.logoImg {
  margin-right: 1em;
  margin-left: -1em;
  width: 7em;
  border-radius: 5px;
  background-color: rgb(180, 220, 255);
}

.font {
  font-family: belanosima !important;
  text-decoration: none;
}

.img {
  max-width: 100px !important;
  border-radius: 100%;
}

.registerBox {
  margin-top: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerTitle {
  font-family: "belanosima" !important;
  font-size: large;
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0 0.8em 0 0;
}

.headerBox {
  width: 100%;
  height: 25em;
  background-image: url("../public/imgs/registerHeader.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.headerBox .registerHeaderBox {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 30em;
  display: block;
}
.headerBox .registerHeaderBoxDark {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 30em;
  display: block;
}
.headerBox .registerHeader {
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0 0.8em 0 0;
}
.headerBox .registerHeader.MuiTypography-body1 {
  font-size: 1.5em;
}

.cardGridContainer {
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.carCardItem {
  padding: 0.6em;
}

.carCardImgItem {
  padding: 0.6em;
  max-width: 20em !important;
  max-height: 15em !important;
}

.carCardBtnSection {
  padding: 0.6em;
  display: flex;
  align-items: center;
}
.carCardBtnSection .profileAv {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.imgURL {
  width: 100%;
  height: 100%;
  -o-object-fit: fit;
  object-fit: fit;
}

.smallImg {
  width: 40%;
}

.cardBtn {
  margin-right: 0.8em !important;
}

.imgXpand {
  max-width: 100%;
}

.sideGridItem {
  margin-left: 0.5em;
}

.cardGridItem {
  display: flex;
  margin-bottom: 1em !important;
  flex-direction: column;
  margin-left: auto !important;
}

.checkoutCardGridContainer {
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.checkoutCarCardItem {
  padding: 0.6em;
}

.checkoutCarCardImgItem {
  padding: 0.6em;
  max-width: 20em !important;
  max-height: 15em !important;
}

.checkoutCarCardBtnSection {
  padding: 0.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkoutCarCardBtnSection .checkoutProfileAv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutImgURL {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.checkoutCardBtn {
  margin-right: 0.8em !important;
}

.checkoutPrice {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  background-color: rgba(4, 4, 4, 0.1);
  box-shadow: -2px -2px 3px 2px rgba(4, 4, 4, 0.1);
  margin-left: auto;
}

.img {
  max-width: 100px !important;
  border-radius: 100%;
}

.ourCarsBox {
  margin-top: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeaderBoxDark {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 30em;
  display: block;
}

.modalHeaderBox {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 30em;
  display: block;
}

.ourCarsHeaderBigBox {
  width: 100%;
  height: 20em;
  background-image: url("../public/imgs/ourCars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ourCarsHeaderBigBox .HeaderBoxDark {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 30em;
  display: block;
}
.ourCarsHeaderBigBox .ourCarsHeaderBox {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 30em;
  display: block;
}
.ourCarsHeaderBigBox .ourCarsHeader {
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0 0.8em 0 0;
}
.ourCarsHeaderBigBox .ourCarsHeader.MuiTypography-body1 {
  font-size: 1.5em;
}

.aboutUsHeader {
  width: 100%;
  height: 25em !important;
  background-image: url("../public/imgs/aboutPageImg3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.aboutUsHeaderBox {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 40em;
  display: block;
}

.aboutUsHeaderBoxDark {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 30em;
  display: block;
}

.aboutPageGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutUsDarkTab {
  background-color: rgba(196, 196, 196, 0.3);
}

.aboutSmTitle {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.boxHeader {
  padding: 10px;
  background-color: red;
}

.pageTitle {
  font-family: "belanosima" !important;
  font-size: large;
  padding: 0 1em 0 1em;
}

.pageSubtitle {
  font-family: roboto;
  font-size: 1.3em !important;
  padding: 0.5em 1em 0.5em 1em;
} /*# sourceMappingURL=index.css.map */
