@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto&display=swap");
@import "./css/homepage";
@import "./css/navBar";
@import "./css/registerPage";
@import "./css/carCard";
@import "./css/carInv";
@import "./css/checkoutCard";
@import "./css/ourCarsPage";
@import "./css/aboutUs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.boxHeader {
  padding: 10px;
  background-color: red;
}

.pageTitle {
  font-family: "belanosima" !important;
  font-size: large;
  padding: 0 1em 0 1em;
}

.pageSubtitle {
  font-family: roboto;
  font-size: 1.3em !important;
  padding: 0.5em 1em 0.5em 1em;
}
