@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto&display=swap");
@import "./pages/Homepage/_homepage";
@import "./components/NavBar/_navBar";
@import "./pages/RegisterPage/registerPage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
