@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

.gridContainerHomePage {
  background-image: url("../public/imgs/homePageCar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.mainHeader {
  margin-top: 0.3em !important;
  padding: 0em 0 0.2em 0 !important;
  font-family: belanosima !important;
  font-size: 3.5em !important;
}

.mainButton {
  font-family: belanosima !important;
  font-size: 1em;
}

.homepageHeaderBox {
  background-color: rgba(255, 255, 255, 0.39);
}

.datePicker {
  background-color: rgba(255, 255, 255, 0.811);
}

.datePickerDark {
  background-color: rgba(56, 56, 56, 0.811);
}
