@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

.gridContainerHomePage {
  background-image: url("../public/imgs/homePageCar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.mainHeader {
  font-family: belanosima !important;
  font-size: 3.5em !important;
}

.border {
  //border: 2px solid #000;
}
